<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Agregar Libro</h4>
                    </div>

                    <div class="content">
                        <span ng-controller="BooksController" novalidate>
                        <form data-ng-submit="create()" class="signin form-horizontal">
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="control-group">
                                        <label class="control-label" for="titulo">Título</label>
                                        <input type="text" class="form-control" data-ng-model="titulo" name="titulo" id="titulo" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="control-group">
                                        <label class="control-label" for="autor">Autor</label>
                                        <input type="text" class="form-control" data-ng-model="autor" name="autor" id="autor" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="control-group">
                                        <label class="control-label" for="descripcion">Descripcion</label>
                                        <textarea cols=20 rows=5 data-ng-model="descripcion" id="descripcion" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="control-group">
                                        <label class="control-label" for="codigo">Código</label>
                                        <input type="text" class="form-control" data-ng-model="codigo" name="codigo" id="codigo" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="control-group">
                                        <label class="control-label" for="rama">Rama</label>
                                        <input type="text" class="form-control" data-ng-model="rama" name="rama" id="rama" required>
                                    </div>
                                </div>


                            </div>

                            <div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <input id="btn" type="submit"  class="btn btn-info btn-fill" value="Agregar libro">
                                </div>
                            </div>
                            <div data-ng-show="error">
                              <strong data-ng-bind="error"></strong>
                            </div>

                        </form>

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
